.web {
  background-color: #FFFFFF;
}

.web .payload {
  background-color: #FFFFFF;
}

.web .payload .notice .notice-body-container {
  display: flex;
}

.web .payload .notice .notice-body-container .ad1 {
  display: block;
  width: 200px;
  margin-left: 20px;
}

.web .payload .notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 0 auto 20px auto;
  min-width: 700px;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 900px;
}

.web .payload .notice .notice-body {
  position: relative;
  width: 75%;
  margin: auto;
  animation: loadsItems 1.9s linear;
}

.payload .notice .notice-body .source {
  font-size: 18px;
  width: max-content;
  display: block;
  margin: 40px auto 0 auto;
}

.payload .notice .notice-body .source a {
  color: #ffa31a;
  text-decoration: none;
}

.payload .notice .notice-body .source a:hover {
  text-decoration: underline;
}

.web .payload .notice pre {
  margin: 0 3px;
  max-width: 100%;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 10px auto;
  text-align: left;
  font-size: 1.1em;
  font-weight: 400;
  margin: 20px auto;
  color: #202020;
  line-height: 1.5;
}

.web .payload .notice img {
  width: 100%;
  margin: 0px auto 20px auto;
}

.web .payload .notice p {
  font-size: 1.1em;
  margin: 0 auto 20px auto;
  font-weight: 400;
  color: #202020;
  line-height: 1.5;
}

.web .payload .notice cite {
  display: block;
  margin: 0 auto 20px auto;
  width: 90%;
  font-weight: 400;
  border-left: 3px solid #EAEAEA;
  padding: 0px 10px;
  font-size: 1.03em;
  margin: 0 auto 20px auto;
  font-weight: 400;
  color: #202020;
  line-height: 1.5;
}

.web .payload .notice h2 {
  max-width: 100%;
  display: block;
  margin: 40px auto 20px auto;
  font-size: 1.5em;
  text-align: left;
  font-weight: 700;
  color: #202020;
  text-decoration: none;
  clear: both;
  line-height: 1.1;
}

.web .payload .notice .vYtb {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 400px;
  max-height: 400px;
  margin: 0 auto 20px auto;
}

.web .payload .notice .tweet {
  display: block;
  margin: 0 auto 20px auto;
}


.web .payload .notice .tweet .twitter-tweet {
  margin-right: auto;
  margin-left: auto;
}

.payload .notice .notice-header {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: max-content;
}

.payload .notice .notice-header .header-title {
  position: relative;
  animation: loadsItems 0.7s linear;
  max-width: 100%;
  display: block;
  margin: 40px auto 20px auto;
  font-size: 2.3em;
  text-align: left;
  font-weight: 700;
  color: #202020;
  text-decoration: none;
  clear: both;
  line-height: 1.1;
}

.payload .notice .notice-header .notice-subtitle {
  position: relative;
  margin: 20px auto;
  font-weight: 400;
  animation: loadsItems 0.9s linear;
  font-size: 1.3em;
  font-weight: 400;
  color: #202020;
  line-height: 1.5;
}

.payload .notice .notice-header .game {
  width: max-content;
  display: flex;
}

.notice .notice-header .game .game-name {
  font-size: 20px;
  font-weight: 400;
  color: #ffa31a;
  min-width: max-content;
}

.payload .notice .notice-header .posted-by {
  display: block;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #9D9D9D;
  position: relative;
  animation: loadsItems 1.1s linear;
}

.notice .notice-header .notice-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.notice .notice-header .notice-options .addedAt {
  position: relative;
  float: left;
  color: #9D9D9D;
  margin-left: 0px;
  font-size: 12px;
  animation: loadsItems 1s linear;
}

.payload .notice .notice-header .notice-options .share {
  width: max-content;
  float: right;
  display: flex;
  margin-bottom: 5px;
}

.notice-header .notice-options .share a i {
  position: relative;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.notice-header .notice-options .share a #facebook {
  color: #36589F;
  animation: loadsItems 1.3s linear;
}

.notice-header .notice-options .share a #twitter {
  color: #1A91DA;
  animation: loadsItems 1.5s linear;
}

.notice-header .notice-options .share a #whatsapp {
  color: #25CC63;
  animation: loadsItems 1.7s linear;
}

.notice-header .notice-options .share a img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.notice-header .notice-options .share a {
  margin-left: 20px;
}

.web .payload .more-notices {
  display: block;
  align-items: center;
  justify-content: center;
}

.web .payload .more-notices .more-notices-title {
  display: block;
  user-select: none;
  font-size: 18px;
  font-weight: 600;
  width: max-content;
  margin: 10px auto;
}

.web .payload .more-notices .notices-in-more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.web .payload .more-notices .notices-in-more .news-container-link {
  text-decoration: none;
}

.web .payload .more-notices .notices-in-more .news-container-link:hover>.news-container .title {
  text-decoration: underline;
}

.web .payload .more-notices .notices-in-more .news-container-link:hover>.news-container .cover_image img {
  opacity: 0.8;
}

.notices-in-more .news-container-link .news-container {
  position: relative;
  width: 80%;
  height: max-content;
  margin: 20px auto;
  border: 1px solid #EAEAEA;
}

.notices-in-more .news-container-link .news-container .title-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -100px 30px -20px rgba(16, 16, 16, .8);
}

.notices-in-more .news-container-link .news-container .title {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #EAEAEA;
  padding: 0 10px;
  text-shadow: 1px 1px 1px rgba(16, 16, 16, .8);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-container-link .news-container .cover_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11vw;
  max-width: 100%;
  max-height: 11vw;
  overflow: hidden;
}

.news-container-link .news-container .cover_image img {
  width: 100%;
  transform: scale(1.1);
  transition: opacity 0.2s linear;
}

.googleAdsFooter {
  display: block;
  width: 60%;
  margin: 20px auto;
}

@media (max-width: 1025px) {
  .web .payload .notice {
    width: 90%;
    min-width: 0;
  }
  .web .payload .notice .notice-body {
    width: 100%;
    margin: auto;
  }
  .web .payload .notice .notice-body-container .ad1 {
    display: none;
  }
  .payload .notice .notice-header .header-title {
    font-size: 28px;
  }
  .payload .notice .notice-header .notice-subtitle {
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
  }
  .notice .notice-header .game img {
    height: 30px;
  }
  .notice .notice-header .game h2 {
    font-size: 18px;
  }
  .web .payload .notice .vYtb {
    height: 50vw;
  }
  .web .payload .notice .tweet {
    width: 100%;
    height: max-content;
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
  .web .payload .notice .tweet .twitter-tweet {
    height: max-content;
    margin: none;
  }
  .web .payload .more-notices .notices-in-more {
    display: block;
    justify-content: center;
  }
  .web .payload .more-notices .notices-in-more .news-container-link .news-container {
    width: 92%;
  }
  .news-container-link .news-container .cover_image {
    max-height: 50vw;
    height: 50vw;
  }
  .notices-in-more .news-container-link .news-container .title {
    font-size: 1.4em;
    line-height: 1.1;
  }
  .googleAdsFooter {
    width: 60%;
  }
  .ads-fixed {
    display: none;
  }
  .adsInNotice {
    margin: 20px;
  }
}
