* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #ffa31a;
  --secondary: #111111;
  --tertiary: #FFFFFF;
  --quaternary: #EFEFEF;
  --quintenary: #000000;
  --sextenary: #9D9D9D;

  --facebook: #36589F;
  --twitter: #1A91DA;
  --whatsapp: #25CC63;

  --wVeryLow: 300;
  --wLow: 400;
  --wMedium: 500;
  --wStrong: 700;
}

body {
  margin-top: 64px;
  min-height: 100vh;
  background: var(--tertiary);
  overflow-x: hidden;
}

.web .payload {
  min-height: 75vh;
  background: var(--tertiary);
  padding-top: 10px;
}

body, input, button, textarea, select, option, pre, i {
  font-family: Roboto;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  border: 0 none;
}

@media (max-width: 1025px) {
  body {
    margin-top: 64px;
  }
}
