header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 3;
  user-select: none;
  transition: top 0.2s linear;
}

header .header-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--secondary);
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

header .header-body .items-open {
  display: none;
}

header .header-body .search-open {
  display: none;
}

header .header-body .header-logo {
  margin: 0 15px;
}

header .header-body .header-logo img {
  height: 34px;
}

header .header-body .ph-items {
  max-width: min-content;
  overflow: hidden;
  opacity: 1;
}

header .header-body .ph-header {
  display: none;
  height: max-content;
}

header .header-body .ph-items ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: min-content;
  height: 35px;
}

header .header-body .ph-items ul li {
  list-style: none;
  margin: 0 10px;
  width: max-content;
  height: max-content;
}

.header-body .ph-items ul li .ph-item {
  color: var(--tertiary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--wStrong);
  font-size: 12px;
}

.header-body .ph-items ul li .ph-item-add {
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--wStrong);
  font-size: 12px;
  border: 2px solid var(--primary);
  padding: 5px 15px;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  margin: auto;
}

.header-body .ph-items ul li .ph-item-add:hover {
  opacity: 0.8;
}

.header-body .ph-items ul li .ph-item-add:active {
  opacity: 0.6;
}

.header-body .ph-items ul li .ph-item:hover {
  color: var(--primary);
}

.header-body .ph-items ul li .ph-item-add i {
  margin-right: 10px;
}

header .header-body .header-search {
  min-width: 80px;
  margin: 0 15px 0 5px;
  box-shadow: 0px 0px 10px 10px var(--secondary);
}

.header-body .header-search .ph-search .ph-search-input {
  color: var(--tertiary);
  width: 250px;
  height: 32px;
  font-size: 19px;
  border: 1px solid var(--tertiary);
  border-radius: 3px;
  padding: 5px;
  background: var(--secondary);
  font-size: 15px;
  z-index: 8;
  justify-content: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.3s linear;
}

.header-body .header-search .ph-search .ph-search-input:focus {
  background: var(--tertiary);
  outline: none;
  color: var(--secondary);
  border: 1px solid var(--tertiary);
  width: 350px;
}

.header-body .header-search .ph-search .search-closer {
  display: none;
}

.header-body .header-search .ph-search-results {
  position: fixed;
  top: 64px;
  right: -100vw;
  height: calc(100% - 64px);
  width: 385px;
  z-index: 2;
  transition: all 0.3s linear;
  background: var(--quintenary);
}

.header-search .ph-search-results .search-results-header {
  background: var(--quintenary);
  color: var(--tertiary);
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid var(--secondary);
  font-size: 18px;
}

.header-search .ph-search-results .search-results-loader {
  margin-top: 20px;
  display: none;
}

.header-search .ph-search-results .results {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  max-height: 94%;
}

.ph-search-results .results .result-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--secondary);
  margin: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.ph-search-results .results .result-container .result-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  min-width: 130px;
  height: 80px;
  min-height: 80px;
  overflow: hidden;
  margin-right: 10px;
}

.results .result-container .result-image img {
  width: 100%;
  height: 100%;
}

.results .result-container .result-title {
  color: var(--tertiary);
  text-shadow: 1px 1px 1px var(--secondary);
  display: -webkit-box;
}

@media (max-width: 1025px) {
  header .header-body {
    height: 55px;
  }
  header .header-body .items-open {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    margin: 10px;
    font-size: 20px;
  }
  header .header-body .search-open {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    margin: 10px;
    font-size: 20px;
  }
  header .header-body .header-logo img {
    height: 25px;
  }
  header .header-body .ph-items {
    position: fixed;
    top: 0;
    left: -100vw;
    min-width: 100%;
    height: 100%;
    background: var(--quintenary);
    opacity: 0;
    transition: left 0.2s linear, opacity 0.2s linear;
  }
  header .header-body .ph-items .ph-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
    justify-content: end;
    align-items: center;
    color: var(--tertiary);
    font-size: 23px;
  }  
  header .header-body .ph-items .ph-header i {
    margin: 10px 15px;
    margin-left: auto;
  }
  header .header-body .ph-items ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 0 0;
    height: max-content;
    justify-content: center;
  }
  header .header-body .ph-items ul li {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    margin-right: auto;
    width: 100%;
  }
  .header-body .ph-items ul li .ph-item {
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    position: relative;
  }
  .header-body .ph-items ul li .ph-item-add {
    margin-top: 60px;
  }
  header .header-body .header-search {
    opacity: 0;
    position: fixed;
    top: 0;
    right: -100vw;
    box-shadow: none;
    width: 100%;
    height: 100%;
    transition: right 0.2s linear, opacity 0.2s linear;
    margin: 0;
    background: var(--quintenary);
  }
  .header-body .header-search .ph-search {
    display: flex;
    flex-direction: row;
  }
  .header-body .header-search .ph-search .ph-search-input {
    margin: 10px;
    font-size: 22px;
    width: 80%;
  }
  .header-body .header-search .ph-search .ph-search-input:focus {
    width: 80%;
  }
  .header-body .header-search .ph-search-results {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .header-body .header-search .ph-search .search-closer {
    display: flex;
    color: var(--tertiary);
    font-size: 23px;
    margin: 15px 15px;
    margin-left: auto;
  }
}
