.global-loader {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.global-loader .loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: GlobalLoader 0.2s linear infinite;
  border-right: 3px solid #ffa31a;
}
