<footer class="footer">
  <div class="footer-1part">
    <div class="logo-img">
      <img src="assets/images/logo.png" alt="" class="logo">
    </div>
    <div class="footer-items">
      <nav>
        <ul>
          <li class="home-list">
            <a href="/" class="home">
              <i class="fas fa-home" style="margin-right: 10px;"></i>
              Página inicial
            </a>
          </li>
          <li>
            <span class="contact">
              <strong>contato: </strong>maisgamernews@gmail.com
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer-2part">
    <span class="sign-social-media">Siga-nos em nossas redes sociais</span> 
    <div class="social">
      <a href="https://www.facebook.com/maisgamernews" target="_blank" title="Siga-nos no Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/maisgamernews" target="_blank" title="Siga-nos no Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UC1LPHJqjW5wMA6pDdXMnvWQ?disable_polymer=true" target="_blank"
          title="Siga-nos no YouTube">
          <i class="fab fa-youtube"></i>
      </a>
    </div>
    <div class="site-name">Copyright © 2020 maisgamer.com.br</div>
  </div>
</footer>
