<header>
  <div class="header-body">
    <div class="items-open"><i class="fas fa-stream"></i></div>
    <a href="/" title="Página Inicial" class="header-logo">
      <img src="/assets/images/logo.png" alt="Mais Gamer" class="logo">
    </a>
    <div class="search-open"><i class="fas fa-search"></i></div>
    <nav class="ph-items">
      <div class="ph-header"><i class="fas fa-times"></i></div>
      <ul>
        <!-- <li>
          <a href="" class="ph-item">Todas as notícias</a>
        </li> -->
        <li>
          <a href="/gaming-news" class="ph-item">Notícias sobre games</a>
        </li>
        <li>
          <a href="/strategy-guide" class="ph-item">Guias de estratégia</a>
        </li>
        <li>
          <a href="/trailer" class="ph-item">Trailers</a>
        </li>
        <li>
          <a href="/e-sports" class="ph-item">E-sports</a>
        </li>
        <!-- <li>
          <a href="/gaming-groups" class="ph-item">Grupos Gamers</a>
        </li>
        <li>
          <a href="/gaming-groups/send" class="ph-item-add" title="Enviar seu grupo Gamer"><i class="fas fa-share"></i> envie seu grupo gamer</a>
        </li> -->
      </ul>
    </nav>
    <div class="header-search">
      <form action="" class="ph-search">
        <input placeholder="Buscar" type="search" class="ph-search-input">
        <div class="search-closer"><i class="fas fa-times"></i></div>
      </form>
      <div class="ph-search-results">
        <div class="search-results-header">Escreva para buscar</div>
        <div class="search-results-loader"><%- include('./loader.ejs') %></div>
        <div class="results"></div>
      </div>
    </div>
  </div>
  <script src="/scripts/js/search.js"></script>
  <script src="/scripts/js/header.js"></script>
</header>
